.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.student-name {
  font-weight: 500;
}

.empty-state {
  text-align: center;
  padding: 2rem;
}
